<div>
  <h1>New Message</h1>
  <div class="error">
    <% errors.forEach((error) => { %> 
      <%= console.log(error)%>
      <li>
        <a 
          class="text-decoration-none" 
          href="#<%= error.path %>"
        >
          "<%= error.value %>" is not a valid <%= error.path %>. 
          <br/>- <%= error.msg %>
        </a>
      </li>
    <% }); %>
  </div>
  <form 
    method="POST" 
    action="/new" 
    class="container-vertical dont-grow"
  >
    <input 
      type="text" 
      placeholder="Author name" 
      id="username" 
      name="username"
      value="<%= values.user || ""%>"
    />
    <input 
      type="text" 
      placeholder="email" 
      id="email" 
      name="email"
      value="<%= values.email || ""%>"
    />
    <input 
      type="number" 
      min="13"
      max="120"
      placeholder="age" 
      id="age" 
      name="age"
      value="<%= values.age || ""%>"
    />
    <textarea 
      placeholder="bio" 
      id="bio"
      name="bio"
    ><%= values.bio ? `${values.bio}` : ""%></textarea>
    <textarea 
      placeholder="message" 
      id="text"
      name="text"
    ><%= values.text ? `${values.text}` : ""%></textarea>
    <input class="button" type="submit" />
  </form>
</div>
